* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboardContainer {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem 1rem;
  overflow: hidden;
}

.header,
.section {
  display: flex;
  max-width: 80vw;
  justify-content: space-between;
  margin-top: 0.8rem;
  overflow: hidden;
}

.welcomeMessage {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}
.date {
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 500;
  color: #707070;
}
.sectionTitle {
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000000;
}
.sectionDropDown {
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 400;
  border: none;
  outline: none;
}

.cardContainer {
  display: flex;
  height: 87%;
  overflow-x: auto;
  padding: 0.3rem;
}

.cardScroll {
  display: flex;
  gap: 1rem;
}

.card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 23vw;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  background-color: #eef2f5;
  border-radius: 0.6rem;
}

.cardHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardTitle {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
}

.allCards {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: auto;
}

.collapseIcon {
  cursor: pointer;
}
.addAndcollapse {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.allCards::-webkit-scrollbar {
  width: 10px;
}
.allCards::-webkit-scrollbar-thumb {
  background-color: #8daab9cc;
  border-radius: 5px;
}
.allCards::-webkit-scrollbar-track {
  background-color: #d6eaf4;
}

.cardContainer::-webkit-scrollbar {
  width: 0px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #8daab9cc;
  border-radius: 5px;
}

.cardContainer::-webkit-scrollbar-track {
  background-color: #d6eaf4;
}
