* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboardContainer {
  /* width: 100vw; */
  height: 100vh;
  padding: 1.5rem;
  overflow: hidden;
}

.header,
.section {
  display: flex;
  max-width: 80vw;
  justify-content: space-between;
  margin-top: 0.8rem;
  overflow: hidden;
}

.welcomeMessage {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}
.date {
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 500;
  color: #707070;
}
.sectionTitle {
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000000;
}
.sectionDropDown {
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 400;
  border: none;
  outline: none;
}

.cardContainer {
  display: flex;
  height: 87%;
  width: 80vw;
  overflow-x: auto;
  padding: 0.3rem;
}

.cardScroll {
  display: flex;
  gap: 1rem;
}

.card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 23vw;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  background-color: #eef2f5;
  border-radius: 0.6rem;
}

.cardHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardTitle {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
}

.cardBody {
  background-color: #ffff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.allCards {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.itemIcon {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.collapseIcon {
  cursor: pointer;
}
.addAndcollapse {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.itemLabel {
  font-family: Poppins;
  font-size: 0.5rem;
  font-weight: 500;
  color: #707070;
}

.moreIcon {
  color: "#00000";
  cursor: pointer;
}
.menuModal {
  position: absolute;
  top: 70%;
  left: 57%;
 }

.itemName {
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 500;
}

.checklistHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checklistContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.checklistContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  border: 1px solid #e2e2e2;
}

.checkBox {
  border: 2px solid #e2e2e2;
}

.checklistText {
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}

.checklistCount {
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 500;
}

.arrowIcon {
  background-color: #eeecec;
  color: #767575;
  font-size: 1.4rem;
  border-radius: 3px;
  cursor: pointer;
}

.dateAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateButton {
  color: #ffffff;
  background-color: #cf3636;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-family: Poppins;
  font-size: 0.6rem;
  font-weight: 500;
  text-align: center;
}

.buttonContainer {
  display: flex;
  gap: 0.2rem;
}

.statusButton {
  background-color: #eeecec;
  color: #767575;
  border: none;
  font-family: Poppins;
  font-size: 0.6rem;
  font-weight: 500;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.allCards::-webkit-scrollbar {
  width: 10px;
}
.allCards::-webkit-scrollbar-thumb {
  background-color: #8daab9cc;
  border-radius: 5px;
}
.allCards::-webkit-scrollbar-track {
  background-color: #d6eaf4;
}

.cardContainer::-webkit-scrollbar {
  width: 0px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #8daab9cc;
  border-radius: 5px;
}

.cardContainer::-webkit-scrollbar-track {
  background-color: #d6eaf4;
}

