* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.analyticsContainer {
  padding: 2rem;
  width: 100%;
}

.analyticsHeader {
  font-family: Open Sans;
  font-size: 1.3rem;
  font-weight: 600;
}

.analyticsLists {
  padding: 2rem;
  display: flex;
  gap: 3rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: disc;
}

li::marker {
  color: #90c4cc;
  font-size: 1.5rem;
}
.loader {
  width: 100%;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
}

.taskName {
  font-family: Open Sans;
  font-size: 1.1rem;
  font-weight: 400;
}

.taskCount {
  font-family: Open Sans;
  font-size: 1.3rem;
  font-weight: 600;
}
